.slidePanelContentContainer {
  position: absolute;
  top: 0px;
  left: 50%;
  right: 0px;
  bottom: 0px;
  background: rgb(255, 255, 255);
  border-left: 1px solid #bbb;
  overflow: auto;
  outline: none;
  padding: 20px;
}

@media (max-width: 768px) {
  .slidePanelContentContainer {
    left: 20%;
  }
}
